/* You can add global styles to this file, and also import other style files */
html{height:100%}
body{padding:0;height:100%}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

fieldset{
	border: 0;
	padding: 0;
	margin: 0;
}

legend{position: absolute;height: 0;width: 0;overflow: hidden;font-size: 0;line-height: 0;}

.tippy-popper .tip-link {
  display: block;
}

.tippy-tooltip a,
.tippy-tooltip a:hover {
  color: #8BB0D0;
}

#clear {
  position: absolute;
  right: 10px;
  top: 80px;
  margin: 0.25em;
  visibility: hidden;
  z-index: 1;
}

body.has-start #clear {
  visibility: visible;
}

#end {
  display: none;
}

body.has-start:not(.has-end) #end {
  display: inline;
}

body.has-start:not(.has-end) #start {
  display: none;
}

body.calc #loading {
  display: block;
}

.cxtmenu-disabled {
	opacity: 0.333;
}

.mat-drawer-container{
  z-index: 2;
}

.mat-list-item.active{
  font-weight: 700;
  background-color: rgba(0, 0, 0, .04);
}

.popperjs-div {
	/* just an example */
	border: 1px solid red;
	background: #fff;
	z-index: 9999;
	padding: 0.25em;
	pointer-events: none;
}
.tippy-popper {
	transition: none !important;
}
