/* You can add global styles to this file, and also import other style files */
html{height:100%}
body{padding:0;height:100%}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

fieldset{
	border: 0;
	padding: 0;
	margin: 0;
}

legend{position: absolute;height: 0;width: 0;overflow: hidden;font-size: 0;line-height: 0;}

.tippy-popper .tip-link {
  display: block;
}

.tippy-tooltip a,
.tippy-tooltip a:hover {
  color: #8BB0D0;
}
